# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json

# Environment variables / secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE / OS
.vscode/
.DS_Store
Thumbs.db